# Telegram Bot Settings
TELEGRAM_BOT_TOKEN="7664299581:AAFkROG8TXF0wkL6-nrL7G_8Y5v0J_V5lYI"
TELEGRAM_CHAT_ID="-1002793640921"
TELEGRAM_WARNING_TOPIC="2"
TELEGRAM_ERROR_TOPIC="3"

# RabbitMQ Settings
RABBITMQ_URL="amqp://royal_logger:Royal_Logger_Pass@localhost:5672/royal_logs"
RABBITMQ_EXCHANGE="logs"
RABBITMQ_QUEUE="telegram_log_bot_queue"

# Routing Keys (используются в коде)
# application.logs - Основное приложение
# 2fa.logs - Микросервис 2FA
# auth.logs - Логи аутентификации
# security.logs - Логи безопасности
# system.logs - Системные логи

# Windows Settings
PYTHONIOENCODING="utf-8"

# Debug Settings (1 = True, 0 = False)
DEBUG="0" 