# Database Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=royal_test

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=7666643669:AAHtiA7y1r_WR1LrBxp1tqU4GA3r2XWgO8o

# Server Configuration
HOST=0.0.0.0
PORT=8001

# Security
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Logging
LOG_LEVEL=INFO
LOG_FILE=logs/2fa_service.log

# RabbitMQ (optional for advanced logging)
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=logs
RABBITMQ_ROUTING_KEY=2fa.logs 